@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  * {
    @apply m-0 p-0;
  }

  h1 {
    @apply text-2xl font-sans;
  }
}


body 
  a {
    color: rgb(7, 154, 7);
  }
  a:hover {
    color: rgb(7, 154, 7);
  }

  h1 {
    font-family: "Song Myung", serif;
  }